@import "../../../scss/shared.scss";


section {
    height: 350px;
    margin-top: calc(5% + 2rem);

    @include respond-to(medium) {
        height: 450px;
        margin-top: calc(1rem + 2rem);
    }
}

#map {
    height: 100%;
}