<section>
    <div class="czym-sie-zajmujemy-container">
        <hr>
        <h2>Czym się zajmujemy?</h2>
        <div class="czym-sie-zajmujemy">
            <div>
                <img class="czym-sie-zajmujemy__icon" src="../../../assets/img/czym-sie-zajmujemy/it-01.svg" alt="">
                <h3>Serwis IT</h3>
                <p class="text-break">komputery pc i laptopy tablety i smartfony drukarki i monitory sprzęt biurowy projektory inne.
                </p>
            </div>

            <div>
                <img class="czym-sie-zajmujemy__icon" src="../../../assets/img/czym-sie-zajmujemy/it-01.svg" alt="">
                <h3>Serwis RTV</h3>
                <p class="text-break">Telewizory amplitunery kina domowe wieże hifi inne.
                </p>
            </div>

            <div>
                <img class="czym-sie-zajmujemy__icon" src="../../../assets/img/czym-sie-zajmujemy/it-01.svg" alt="">
                <h3>Serwis AGD</h3>
                <p class="text-break">Maszynki do golenia blendery, odkurzacze miksery, suszarki szczoteczki do zębów prostownice inne naprawa sprzętu serwis specjalistyczny sprzęt przemysłowy sonary systemy audiowizualne maszyny treningowe inne napisz do nas.
                </p>
            </div>

            <div>
                <img class="czym-sie-zajmujemy__icon" src="../../../assets/img/czym-sie-zajmujemy/it-01.svg" alt="">

                <h3>Serwis specjalistyczny</h3>
                <p class="text-break">Sprzęt przemysłowy sonary systemy audiowizualne maszyny treningowe inne.
                </p>
            </div>
        </div>
    </div>
</section>