@import "../../../scss/shared.scss";
h2 {
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    color: #e09f20;
    text-align: center;
    font-size: 2.8rem;
}

.czym-sie-zajmujemy-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.czym-sie-zajmujemy {
    margin-top: 2rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include respond-to(medium) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    & div {
        width: 100%;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        @include respond-to(medium) {
            width: 50%;

            margin-top: 1rem;
            margin-bottom: 10%;
        }
        @include respond-to(large) {
            width: calc(100% / 4);
            margin-bottom: 0;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        & p {
            font-size: 0.9rem;
        }
        &:first-child {
            margin-top: 1rem;
        }
    }
}

.czym-sie-zajmujemy__icon {
    width: 25%;
    height: auto;
    align-self: center;
    margin-bottom: 2rem;
}
