<section id="napisz-do-nas-section">
    <div class="napisz-do-nas-container">
        <hr>
        <h2>Napisz do nas!</h2>
        <div class="container napisz-do-nas">

            <form [formGroup]="form" class="napisz-do-nas__form">
                <div class="row">
                    <mat-form-field appearance="outline" class="col col-md-6">
                        <mat-label>Imię i nazwisko</mat-label>
                        <input formControlName="name" matInput required>
                        <mat-error *ngIf="form.invalid">Imię i nazwisko jest wymagane</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col col-md-6">
                        <mat-label>Number telefonu</mat-label>
                        <input formControlName="phoneNumber" matInput required pattern="[0-9]{3}\s?[0-9]{3}\s?[0-9]{3}">
                        <mat-error *ngIf="form.invalid">{{getErrorMessageFieldPhoneNumber()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col col col-md-6">
                        <mat-label>Adres email</mat-label>
                        <input formControlName="email" matInput required>
                        <mat-error *ngIf="form.invalid">Adres email jest wymagany</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col col-md-6">
                        <mat-label>Temat</mat-label>
                        <mat-select formControlName="topic" required>
                            <mat-option value="informacje ogólne">informacje ogólne</mat-option>
                            <mat-option value="zgłoszenia serwisowe">zgłoszenia serwisowe</mat-option>
                            <mat-option value="współpraca">współpraca</mat-option>
                        </mat-select>
                        <mat-error>Temat jest wymagany</mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Wiadomość</mat-label>
                        <textarea formControlName="message" matInput required></textarea>
                        <mat-error *ngIf="form.invalid">Wiadomość jest wymagana</mat-error>
                    </mat-form-field>


                </div>

                <button mat-flat-button class="send-message-button px-4 py-2" [disabled]="form.invalid"
                (click)="onSendMessage()"
                    aria-label="wyślij">Wyślij</button>
            </form>

        </div>
    </div>
</section>