@import "../../../scss/shared.scss";


.partners {
    margin-top: 5%;
    margin-bottom: 5%;

    & img {
        max-height: 100px;
        padding-right: 1rem;
        width: 100%;
        padding-left: 1rem;
        min-width: 100px;
    }
}