<section>
    <div class="partners">
        <!-- <img src="../../../assets/img/partners/Hitachi_inspire_the_next-Logo.svg" width="100" height="100" alt="">
        <img src="../../../assets/img/partners/loewe-logo.svg" width="100" height="100" alt="">
        <img src="../../../assets/img/partners/Logo-phone.svg" width="100" height="100" alt="">
        <img src="../../../assets/img/partners/Philips_logo_new.svg" width="100" height="100" alt="">
        <img src="../../../assets/img/partners/Saeco-Logo.svg" width="100" height="100" alt="">
        <img src="../../../assets/img/partners/SharpBeOriginal.svg" width="100" height="100" alt="">
        <img src="../../../assets/img/partners/tcl.svg" width="100" height="100" alt=""> -->



    </div>

    <div class="container">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>

        <button (click)="addSlide()">Add</button>
        <button (click)="removeSlide()">Remove</button>
        <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
        <button (click)="slickModal.unslick()">unslick</button>
    </div>
</section>