<section>
    <div class="header">
        <div class="background"></div>
        <div class="header__content">
            <div class="content__left">
                <img class="header__logo" src="http://www.elsan24.pl/img/elsan-logo-01.svg" alt="elsan">
                <div class="left__about-us">
                    <h1>Centrum Serwisowe</h1>
                    <p>
                        Nasza firma powstała w 2006 r. Początkowo zajmowaliśmy się głównie naprawami sprzętu IT. Sheaderniowo poszerzaliśmy zakres jej działalności o naprawy telefonów komórkowych, tabletów i drukarek. W 2016 r. dzięki połączeniu z firmą Tele-Radio-Video FHU,
                        będącego autoryzowanym serwisem wielu marek RTV i AGD, stworzyliśmy rynek usług serwisowych o znacznie większych możliwościach. Ideą firmy jest stworzenie multiserwisu, zapewniającego wszechstronną i profesjonalną obsługę klienta
                        w branżach AGD, RTV i IT. Aktualnie wśród naszych kontrahentów znajdują się takie firmy jak Philips RTV, Philips tablety, Philips małe AGD, Sony, Toshiba, Telefnken, TCL, Vestel, Pioneer, Orion, Loewe, Thomson, Sencor, Hitachi,
                        Panasonic, Finlux.
                    </p>

                    <div class="header__hrefs">
                        <button class="hrefs__czym-sie-zajmujemy" mat-raised-button aria-label="czym się zajmujemy?">Czym
                            się zajmujemy?</button>
                        <button class="hrefs__kontakt" mat-stroked-button aria-label="kontakt">Kontakt</button>
                    </div>
                </div>
            </div>

            <div class="content__right">
                <div class="right__serwis-sprzedaz">
                    <img class="img-fluid" src="../../../assets/img/it-sell.svg" alt="computer">
                    <figcaption>Serwis i sprżedaż urządzeń IT</figcaption>
                </div>

                <div class="right__rtv-agd">
                    <img class="img-fluid" src="../../../assets/img/rtv-agd.svg" alt="rtv agd">
                    <figcaption>Naprawa sprzętu RTV i AGD</figcaption>
                </div>
            </div>
        </div>

    </div>
</section>