@import "../../../scss/shared.scss";

header {
    width: 100%;
    height: auto;
    background-color: white;
}

section {
    display: flex;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: calc(100vh - 2rem - 54px);
    background-image: url(~src/assets/img/background.webp);
    background-size: cover;
}

.hrefs__czym-sie-zajmujemy {
    margin-right: 0.5rem;
    background-color: #e09f20;


    &:hover{
        color: black;
    }
}

.hrefs__kontakt {
    border: 1px solid white;
    color: white;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    width: 200px;
    height: auto;
}

.header-content {
    width: 90%;
    margin-bottom: auto;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.9);


    @include respond-to(very-small) {
        margin-top: auto;
    }

    @include respond-to(medium) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    @include respond-to(large) {
        width: 50%;
    }

    & h1 {
        text-align: center;
        border-bottom: 1px solid white;
    }

    & p{
        font-size: 1.2rem;
    }

    & p,
    h1 {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        color: white;
    }
}
