<header>
    <a href="/">
        <img class="logo" src="assets/img/logo.svg" alt="elsan">
    </a>
</header>

<section>
    <div class="header-content">
        <h1>Centrum Serwisowe</h1>
        <p>
            Nasza firma powstała w 2006 r. Początkowo zajmowaliśmy się głównie naprawami sprzętu IT.
            Sheaderniowo poszerzaliśmy zakres jej działalności o naprawy telefonów komórkowych, tabletów i
            drukarek. <br> W 2016 r. dzięki połączeniu z firmą Tele-Radio-Video FHU,
            będącego autoryzowanym serwisem wielu marek RTV i AGD, stworzyliśmy rynek usług serwisowych o
            znacznie większych możliwościach. Ideą firmy jest stworzenie multiserwisu, zapewniającego
            wszechstronną i profesjonalną obsługę klienta
            w branżach AGD, RTV i IT. <br> Aktualnie wśród naszych kontrahentów znajdują się takie firmy jak
            Philips RTV, Philips tablety, Philips małe AGD, Sony, Toshiba, Telefnken, TCL, Vestel, Pioneer,
            Orion, Loewe, Thomson, Sencor, Hitachi,
            Panasonic, Finlux.
        </p>

        <div class="header__hrefs">
            <a href="#czym-sie-zajmujemy-section" class="hrefs__czym-sie-zajmujemy" mat-raised-button aria-label="czym się zajmujemy?">Czym
                się zajmujemy?</a>
            <a href="#napisz-do-nas-section" class="hrefs__kontakt" mat-stroked-button aria-label="kontakt">Kontakt</a>
        </div>
    </div>

</section>