@import "../../../scss/shared.scss";

footer {
    background-color: #00275e;
}

.about-us {
    display: flex;
    flex-direction: column;
}

.about-us__info {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    @include respond-to(medium) {
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
    }
    @include respond-to(extra-large) {
        flex-direction: row;
        padding-left: 25%;
        padding-right: 25%;
    }
    & div {
        margin-top: 1rem;
        flex-grow: 1;
    }
}

.info__title {
    color: #e09f20;
    font-weight: bold;
}

.copyright {
    width: 100%;
    padding: 1rem;
    background-color: #001346;
    color: #afb6bb;
    & p {
        margin-bottom: 0;
    }
}

.social-medias {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    & a{
        color: white;
        font-size: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;

        &:hover{
            opacity: .8;
        }
    }
}
