<footer>
    <div class="about-us">

        <div>
            <p class="about-us__title">ELSAN</p>
            <p>
                76-200 Słupsk<br> Placbroniewskiego 3<br> ( Wjazd od ul. Wileńskiej )
            </p>
        </div>

        <div>
            <p class="about-us__title">Godziny otwarcia:</p>
            <p>
                poniedziałek: 12:00-20:00 <br> wtorek-piątek: 10:00-18:00
            </p>
        </div>

        <div>
            <p class="about-us__title">Zadzwoń do nas:</p>
            <p>
                kom. 605 489 404<br> wtel. 59 84116 76
            </p>
        </div>

        <div>
            <p class="about-us__title">Napisz do nas:</p>
            <p>
                sklep@elsan24.pl<br> serwis@elsan24.pl
            </p>
        </div>

    </div>

    <div class="copyright">
        <div class="container">
            <p>Copyright © <span class="bold">Elsan</span></p>
        </div>
    </div>
</footer>